.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: auto;
  height: 20px;
  margin-right: 9px;
}

.date {
  margin-left: 10px;
  color: gray;
}

.likes-container {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.likes-container .fa-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.liked,
.liked .fa-icon {
  color: red;
}

.unliked,
.unliked .fa-icon {
  color: black;
}

.likes-container:hover,
.likes-container .fa-icon:hover {
  color: red;
}

.likes-container.liked:hover,
.likes-container.liked:hover .fa-icon {
  color: black;
}

.fa-icon {
  margin-right: 5px;
}

.content {
  padding-left: 25px;
}