.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  background-color: rgba(230, 235, 244, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.header-info {
  display: flex;
  align-items: center;
}

.header img {
  width: auto;
  height: 20px;
  margin-right: 9px;
}

.header-user {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.date {
  margin-left: 10px;
  color: gray;
}

.content,
.footer {
  padding-left: 25px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes-container,
.repost-container, 
.comments-container {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.likes-container .fa-icon,
.repost-container .fa-icon,
.comments-container .fa-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.liked,
.liked .fa-icon {
  color: red;
}

.unliked,
.unliked .fa-icon {
  color: rgb(69, 69, 69);
}

.likes-container:hover,
.likes-container .fa-icon:hover {
  color: red;
}

.likes-container.liked:hover,
.likes-container.liked:hover .fa-icon {
  color: rgb(69, 69, 69);
}

.repost-container:hover {
  color: green;
}

.comments-container:hover {
  color: blue;
}

.comments-container,
.repost-container {
  color: rgb(69, 69, 69);
}

.fa-icon {
  margin-right: 5px;
}