.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-header {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: auto;
  height: 50px;
  margin-right: 9px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}

.username-and-email-container {
  display: flex;
}

.username {
  font-weight: bold;
}

.email {
  margin-left: 10px;
  color: gray;
}

.profile-sub-info {
  display: flex;
  justify-content: space-between;
}

.posts-container,
.followers-container,
.following-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.posts-container p,
.followers-container p,
.following-container p {
  margin: 0; 
}

.profile-bio {
  display: flex;
}

.edit-button {
  padding: 0.5rem;
  background-color: rgb(224, 184, 140);
  color: rgb(247, 247, 247);
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.edit-button:hover {
  background-color: rgb(194, 159, 122);
}