.side-bar {
  background-color: rgba(25, 48, 69, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-bar-links {
  list-style-type: none;
  padding: 0;
}

.home-link,
.profile-link,
.friendship-requests-link,
.users-link {
  margin-bottom: 10px; 
  width: 100%; 
}

.link,
.find-users-button {
  text-decoration: none;
  color: inherit; 
  display: block;
  padding: 0.5rem;
  background-color: rgb(224, 184, 140);
  color: rgb(247, 247, 247);
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center; 
}

.link:hover,
.find-users-button:hover {
  background-color: rgb(194, 159, 122);
}