.form-container {
  width: 100%;
  max-width: 320px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 1rem;
  border-radius: 10px;
  margin: 5rem auto;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.form-header h1,
.form-header p {
  margin: 0; 
  padding: 0; 
}

.form-header p {
  color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.signup-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(58, 162, 58);
  color: rgb(247, 247, 247);
  border: none;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

.signup-button:hover {
  background-color: rgb(50, 140, 50); 
}

.signup-label,
.signup-button {
  margin-top: 1rem;
}

.signup-input,
.signup-button {
  font-size: 10px;
  padding: 0.5rem;
}

.signup-input:last-of-type {
  margin-bottom: 5px;
}

.login-link, .login-link:visited {
  color: rgb(40, 84, 126);
  text-decoration: none;
  font-weight: 600;
}